body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  -apple-system, BlinkMacSystemFont, 'Baloo Bhai', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
  font-size: 16px;
}


h2 {
   font-style: normal;
  font-weight: 400;
  font-size: 48px; 
  line-height: 77px;
  text-align: center;
  color: #7B1384;
  align-items: center;
  align-self: center;
  justify-self: auto;
}
